In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

data = pd.read_csv("flats_transformed.csv")

In [11]:
data["is_big_city_binary"] = data["is_big_city"].astype(int)
pd.get_dummies(data, columns=["region"], dtype=int)

,num_of_rooms,area,living_area,kitchen_area,floor,floors_in_house,year_of_building,price,city,old_building,...,close_to_BL,popular_tourist_city,is_big_city,floor_class,is_big_city_binary,region_Center,region_East,region_North,region_South,region_West
0,1,38.0,15.1,9.4,6,10,2021,39482.0,Cherkasy,False,...,False,False,False,mid,0,1,0,0,0,0
1,1,77.0,17.3,35.0,13,17,2021,100023.0,Cherkasy,False,...,False,False,False,upper,0,1,0,0,0,0
2,2,95.6,30.2,18.3,2,17,2018,95982.4,Cherkasy,False,...,False,False,False,lower,0,1,0,0,0,0
3,3,47.7,31.0,5.9,3,5,1969,35011.8,Cherkasy,True,...,False,False,False,lower,0,1,0,0,0,0
4,1,39.0,27.0,12.0,1,4,2022,62985.0,Cherkasy,False,...,False,False,False,lower,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,2,88.7,0.0,18.0,5,10,2018,115043.9,Zhytomyr,False,...,True,False,False,mid,0,0,0,1,0,0
5106,2,67.0,0.0,18.0,12,12,2018,112024.0,Zhytomyr,False,...,True,False,False,upper,0,0,0,1,0,0
5107,2,79.0,0.0,22.0,8,12,2018,109968.0,Zhytomyr,False,...,True,False,False,upper,0,0,0,1,0,0
5108,2,57.7,0.0,17.0,3,10,2016,81991.7,Zhytomyr,False,...,True,False,False,lower,0,0,0,1,0,0
5109,1,42.5,22.5,11.5,7,12,2016,63580.0,Zhytomyr,False,...,True,False,False,mid,0,0,0,1,0,0